{% extends "base.html" %}

{% block content %}
	<div class='row'>
		<div class='small-12 columns'>
			<p class='text-center'>
				Contador: {{ contador }}
			</p>
		</div>
	</div>

	<div class='row'>
		<div class='small-12 columns'>
			<p class='text-center'>
				<a id='contador' href='{{ url_for('traditional', contador=contador) }}' class='button radius small'>Incrementar</a>
			</p>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
<script>
	$(function() {
		console.log({{ contador }});
		if ({{ contador }} > 1 && {{ contador }} < 10000000) {
			console.log('valid');
			$('#contador')[0].click();
		}
	});
</script>
{% endblock scripts %}
